{% extends 'base.html' %}

{% block title %}Domovská stránka{% endblock %}

{% block content %}

    <!-- uvodni hlavicka se sloganem a tlacitkem -->    
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- nadpis stranky -->
            <h1 class="masthead-heading text-uppercase mb-0">CoSeMnou</h1>
            <!-- oddelovac -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- slogan -->
            <p class="masthead-subheading font-weight-light mb-0">
                Nevíš, jestli ti stačí body pro přijetí na tvou vysněnou školu? 
            </p>
             <!-- tlacitko na stranku s porovnavanim -->
            <div class="text-center mt-4">
                <a href="{% url 'compare_results' %}" class="btn btn-outline-light btn-lg">Klikni zde</a>                
            </div>
        </div>
    </header>

    <!-- sekce s nejoblibenejsimi skolami -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- nadpis sekce -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nejvíce vybírané školy</h2>
            <!-- oddelovac -->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- radky s obrazky skol -->
            <div class="row justify-content-center">
                <!-- nad aleji-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/static/images/nadalejii.jpg" alt="..." />
                    </div>
                </div>
                <!-- arabska-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/static/images/arabskaa.png" alt="..." />
                    </div>
                </div>
                <!-- jana keplera-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/static/images/jankeplerr.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about sekce-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- nadpis sekce -->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- oddelovac -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- info a github -->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Ročníkový projekt Timona Eiselta 4.E GYARAB</p></div>
                <div class="col-lg-4 me-auto"> <a href="https://github.com/gyarab/2024-4e-eiselt-CoSeMnou" class="lead" style="color: white;">Odkaz na repozítář tohoto projektu</a> </div>
            </div>
            
            <!-- tlacitko s obrazkem -->
            {% load static %}
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" 
                href="{% static 'images/ProStesti.jpg' %}" 
                target="_blank">
                    Pro štěstí
                </a>
            </div>

                        
        </div>
    </section>
    
    <!-- modal pro gymnazium nad aleji -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-dark">Gymnázium Nad Alejí</h2>
                                <div class="divider-custom divider-dark">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="/static/images/fotonadaleji.jpg" alt="..." />
                                <p class="mb-4">Gymnázium Nad Alejí je střední škola sídlící v Praze, zaměřená na všeobecné vzdělávání s důrazem na rozvoj kritického myšlení, jazykových a přírodovědných dovedností. Nabízí osmiletý a čtyřletý studijní program a klade důraz na přípravu studentů na vysokoškolské studium. Škola je známá svým moderním přístupem k výuce, podporou mezinárodní spolupráce a širokým spektrem mimoškolních aktivit, jako jsou vědecké soutěže, sportovní akce a jazykové pobyty. Gymnázium Nad Alejí usiluje o komplexní rozvoj osobnosti studentů a jejich aktivní zapojení do společenského života.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Zavři
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal pro gymnazium arabska -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gymnázium Arabská</h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="/static/images/fotoarabska.jpg" alt="..." />
                                <p class="mb-4">Gymnázium Arabská na Praze 6 je prestižní střední škola s širokým zaměřením na všeobecné vzdělání. Škola nabízí čtyřleté gymnaziální studium a klade důraz na kvalitní přípravu studentů k maturitě i k dalšímu studiu na vysokých školách. Gymnázium je známé svou vynikající úrovní ve výuce cizích jazyků, zejména angličtiny, a silným zaměřením na přírodní vědy a matematiku. Škola se také podílí na různých mezinárodních projektech a výměnných programech, což poskytuje studentům cenné zkušenosti a rozvoj jejich dovedností v multikulturním prostředí.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Zavři
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal pro gymnazium jana keplera -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gymnázium Jana Keplera</h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="/static/images/fotojankepler.jpg" alt="..." />
                                <p class="mb-4">Gymnázium Jana Keplera v Praze je renomovaná střední škola, která se zaměřuje na poskytování kvalitního vzdělání v oblasti všeobecného gymnaziálního studia. Škola nabízí čtyřleté a osmileté programy a je známá svým důrazem na přírodní vědy, matematiku a cizí jazyky, zejména angličtinu. Gymnázium se aktivně podílí na různých soutěžích a projektech, což podporuje talent a zájem studentů o vědu a techniku. Kromě výuky se škola také zaměřuje na rozvoj kritického myšlení a kreativního myšlení studentů, čímž je připravuje na úspěšné studium na vysokých školách a další kariéru.</p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Zavři
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
