{% extends 'base.html' %}

{% block title %}Seznam škol{% endblock %}

{% block content %}
    {% load static %}

    <!-- sekce s nazvem a seznamem skol -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Seznam středních škol na Praze 6</h2>
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- seznam skol - dlazdice -->
            <div class="row justify-content-center">
                {% for school in schools %}
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <!-- dlazdice-->                    
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{ forloop.counter }}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{school.image.url }}" alt="{{ school.name }}" />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

     <!-- okna s detailnimi info o skolach -->
    {% for school in schools %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="portfolioModal{{ forloop.counter }}" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- zaviraci tlacitko -->
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <!-- okno -->
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ school.name }}</h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                {% if school.image %}
                                <img class="img-fluid rounded mb-5" src="{{school.image.url }}" alt="{{ school.name }}" />
                                {% endif %}
                                <p class="mb-4"><strong>Popis:</strong> {{ school.description }}</p>
                                <p class="mb-4"><strong>Adresa:</strong> {{ school.address }}</p>
                                {% if school.contact_email %}
                                <p class="mb-4"><strong>Email:</strong> <a href="mailto:{{ school.contact_email }}">{{ school.contact_email }}</a></p>
                                {% endif %}
                                {% if school.phone_number %}
                                <p class="mb-4"><strong>Telefon: +420 </strong> {{ school.phone_number }}</p>
                                {% endif %}
                                {% if school.link %}
                                <p class="mb-4"><strong>Odkaz:</strong> <a href="{{ school.link }}" target="_blank">{{ school.link }}</a></p>
                                {% endif %}
                                <!-- tlacitko pro zavreni okna -->
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Zavři
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}